html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

// FIN de general

#logo{
    width: 300px;
    height: auto;
    margin-left: 10px;
}

.marca{
    flex: 2;
    padding: 5px;
}

.barra_nav{
    background-color: #153462;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;  
}

.menu{
    display:flex;
    flex: 1;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.menu_Items{
    list-style:none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}

#navElement{
    text-decoration: none;
    color: white; 
    font-size:larger;
    text-shadow: 1px 2px 0.5px black;
}

#navElement:hover{
    font-size:larger;
    font-weight: bolder;
}

#separador{
    color: white;
    font-size:34px;
    opacity: 25%;
}

// FIN de navbar


.welcome{
    background-color: #4FA095;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome::before{
    content: "";
    background-image: url(/images/discworld-wallpaper.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
    display: flex;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: black;
    font-size: 25px;
    line-height: 0.9;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: rgba(0,0,0, 0.55);
    width:80%;
    height:70%;
}

.titulo{
    font-weight: bolder;
    font-size: 80px;
    color: white;
    width: 100%;
}

.resumen{
    margin-top: 20px;
    color: white;
}

// FIN de welcome

.sagas{
    background-color: #BAD1C2;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}